// font families
$font-serif: "Noto Serif, serif";
$font-lato: "Lato, sans-serif";

// colors
$color-green: #224E00;
$color-dark: #000000;
$color-white: #ffffff;

$padding-sides: 25px;

// breakpoints
$mobile: 767px;
$tablet: 768px;
$desktop: 1200px;